<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
<!--    <label for="ID">ID </label>-->
<!--    <input type="text" th:field="*{id}"/>-->
<!--    <br/>-->

    <label for="firstName">FirstName </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">LastName </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Age </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div class="form-row mb-3">
        <div class="col-md-6 mb-3">
            <label for="roles">Role</label>
            <div id="roles">
                <div class="form-check form-check-inline" th:each="role : ${allRoles}">
                    <input type="checkbox" class="form-check-input" name="roles" th:id="${role.name}"
                           th:value="${role.name}">
                    <label class="form-check-label" th:for="${role.name}" th:text="${role.name}"/>
                </div>
            </div>
        </div>
        <input type="submit" value="Update!"/>
    </div>
</form>

</body>
</html>