<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}"/>
    <br/>

    <div class="form-row mb-3">
        <div class="col-md-6 mb-3">
            <label for="roles">Roles</label>
            <div id="roles">
                <div class="form-check form-check-inline" th:each="role : ${allRoles}">
                    <input type="checkbox" class="form-check-input" name="roles" th:id="${role.name}" th:value="${role.name}">
                    <label class="form-check-label" th:for="${role.name}" th:text="${role.name}"/>
                </div>
            </div>
        </div>

    <input type="submit" value="Create!"/>

</form>

</body>
</html>