<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table class="table" bordercolor="black" border="1" width="100%">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">PASSWORD</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ROLE</th>

    </tr>
    </thead>
    <tbody>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>

    </tr>
    </tbody>

</table>

<hr/>
<p><a type="button" th:href="@{/logout}" class="btn btn-secondary bg-secondary text-white">Logout</a></p>



<!--<td th:text="${user.getId()}"></td>-->
<!--<br>-->
<!--<td th:text="${user.getUsername()}"></td>-->
<!--<br>-->
<!--<td th:text="${user.getPassword()}"></td>-->
<!--<br>-->
<!--<td th:text="${user.getEmail()}"></td>-->
<!--<br>-->
<!--<td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>-->
<!--<br/>-->
<!--<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>-->
<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<!--    <input th:type="submit" value="Delete user"/>-->
<!--</form>-->
</body>
</html>